<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>This will be the Dashboard.</h2><br>
    Welcome user [{{ current_user.username }}]<br>
    Is authenticated: {{ current_user.is_authenticated }}<br>
    Is active: {{ current_user.is_active }}<br>
    Is anonymous: {{ current_user.is_anonymous }}<br>
    <a href="/user/logout">CLICK HERE TO LOG OUT</a>
</body>
</html>